* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", Arial, sans-serif;
  color: #111;
  background: #fff;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-height: 3028px;
  opacity: 1;
}

.address {
  font-style: normal;
}

.main-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 50px;
  padding-top: 92px;
  padding-bottom: 92px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 12px;
}

.header__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 391px;
  font-size: 18px;
  height: 100%;
}
.header__links-list-item {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 25px;
  white-space: nowrap;
}

.header__links-list-item::before {
  content: "○";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  line-height: 1;
  color: #111;
  opacity: 1;
}
.header__links-list-item:first-child::before {
  content: none;
}

.header__link {
  color: black;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  padding-left: 20px;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}

.address.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  text-align: left;
  max-width: 240px;
  padding-right: 0;
  font-size: 18px;
  line-height: 24.3px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: visible;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.cover__title {
  position: relative;
  z-index: 2;
  margin: 0;
  padding-left: 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-top: 165px;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}
.aligned-text_left {
  align-self: flex-start;
  text-align: left;
}
.aligned-text_center {
  align-self: center;
  text-align: center;
  margin-right: -0.3em;
}
.aligned-text_right {
  align-self: flex-end;
  text-align: right;
  margin-right: -0.3em;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  gap: 20px;
  padding-left: 50px;
  font-size: 22px;
  box-sizing: border-box;
}
.cover__description-text {
  margin: 0;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 19px;
  font-weight: 400;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: 2;
  font-weight: 500;
  font-size: 22px;
}

.lots {
  max-width: 1100px;
  margin-top: 180px;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 24px 0;
  width: 121px;
  margin-left: 40px;
}
.lots__card-list {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-width: 334px;
  flex: 0 0 334px;
  box-sizing: border-box;
}
.card {
  min-height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  margin: 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 22px;
  line-height: 1.2;
}

.card__text {
  position: relative;
  z-index: 2;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.2;
}

.card__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
  width: 192px;
  text-decoration: underline;
  color: #111;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.about {
  max-width: 1100px;
  max-height: 595px;
  margin-top: 120px;
  margin-bottom: 180px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px;
  align-items: start;
  box-sizing: border-box;
}

.about__logo {
  grid-row: 1;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.about__column {
  padding-top: 133px;
  padding-left: 10px;
}
.about__column__logo {
  padding-top: 35px;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  max-width: 60%;
  max-height: 60%;
  width: auto;
  height: auto;
  border-radius: 0;
  object-fit: contain;
  display: block;
  background: #000;
}
.about__title {
  font-size: 40px;
  margin: 0 0 100px 0;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 0;
}
.about__text {
  color: #222;
  line-height: 24px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  max-width: 1100px;
  max-height: 180px;
  margin: 60px auto 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 82px;
  align-items: start;
  border-top: none;
}
.footer__address {
  display: block;
  max-width: 264px;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
}
.footer__address a,
.footer__address .address__text {
  display: block;
  text-decoration: none;
  margin: 1px 0;
}
.footer__menu {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__menu-list {
  display: block;
  margin: 0;

  text-align: center;
  justify-self: center;

  font-size: 18px;
}
.footer__menu-list-item {
  list-style: none;
  line-height: 1;
}
.footer__menu-link {
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  padding: 2px 0;
}
.footer__menu-link_active,
.header__link_active {
  text-decoration: none;
}
.footer__address a[href^="tel"],
.footer__address a[href^="mailto"] {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: currentColor;
}
.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
